python-dotenv
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface
langgraph
langgraph-prebuilt
tavily-python
wikipedia
beautifulsoup4
openpyxl
google-genai
arxiv
pymupdf
pandas<3.0
requests
datasets
huggingface_hub